body, html {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-color: #f5f5f5;
  background-image: url("../images/background.svg");
}

form {
  padding: 3% 5%;
  text-align: center;
}

i {
  margin-left: 3%;
  margin-right: 2%;
}

input[type="number"], select {
  border-radius: 0.3rem;
  margin-right: 0.5rem;
}

select {
  cursor: pointer;
}

input[type="submit"] {
  display: block;
  margin: 3% auto 0;
}

.btn {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4), 0 10px 20px 0 rgba(0, 0, 0, 0.4);
}

.btn-dark, .btn-outline-dark:hover {
  background-color: #222;
}

.btn-dark:hover {
  background-color: #333;
}

.slider {
  -webkit-appearance: none;
  width: 55%;
  height: 15px;
  border-radius: 5px;
  background: #ccc;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background-image: url(../images/thumb.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.row {
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.4), 0 15px 30px 0 rgba(0, 0, 0, 0.4);
  width: 61.5rem;
}

.row:after {
  clear: both;
  content: "";
  display: table;
}

.column {
  float: left;
  height: 23rem;
}

.left-col {
  background-color: #1f1f1f;
  position: relative;
  width: 70%;
}

.right-col {
  background-color: #fff;
  overflow: hidden;
  width: 30%;
}

.container {
  margin-top: 5%;
  text-align: left;
  width: 93%;
}

.card-header {
  background-color: #eee;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
  padding-left: 0;
}

.card-header:hover {
  background-color: #ddd;
  cursor: pointer;
}

.card-body {
  padding: 0;
}

.accordion .card-header:after {
  content: "\f139";
  font-family: "Line Awesome Free";
  font-weight: 900;
  float: right;
}

.accordion .card-header.collapsed:after {
  content: "\f13a";
}

.aruco-gen h1 {
  bottom: 2%;
  color: #fff;
  font-family: 'Bungee Hairline', sans-serif;
  font-size: 1.8rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.aruco-gen strong {
  font-size: 2rem;
}

.marker-info {
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
  margin: -8% auto 3%;
  width: 77.77%;
}

.dummy-info {
  visibility: hidden;
  margin-bottom: 1%;
}

.dummy {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.3;
}

.spacer {
  visibility: hidden;
}

.down, .formats {
  width: 77.77%;
}

.formats {
  background-color: #eee;
}

.down-icon {
  margin-left: 1%;
}

@media screen and (max-width: 1250px) {
  .row {
    width: 37rem;
  }

  .column {
    height: 16rem;
  }

  .container {
    width: 95%;
  }

  .container, .marker-info, .btn {
    font-size: 0.6rem;
  }

  .aruco-gen h1, .aruco-gen b {
    font-size: 1rem;
  }

  .marker {
    margin-top: 1rem;
  }

  .slider {
    height: 10px;
    border-radius: 2px;
  }

  .slider::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 1000px) {
  span {
    display: block;
  }
  .row {
    margin-top: 45%;
    margin-bottom: 10%;
    width: 70%;
  }

  .column {
    width: 100%;
  }

  .left-col {
    padding-top: 5%;
    height: 20rem;
  }

  .right-col {
    height: auto;
  }

  .marker {
    margin: auto;
    width: 100%;
  }

  .marker-info, .right-col .btn {
    font-size: 0.8rem;
  }

  .down, .formats {
    margin-bottom: 2rem;
  }

  .dummy {
    margin-bottom: -1px;
  }

  .container {
    font-size: 0.5rem;
  }

  .slider {
    height: 10px;
    border-radius: 2px;
  }

  .slider::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
  }
}
